<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/landing">
      <i class="bi bi-car-front me-2"></i>Location Véhicules
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/landing#vehicules">Véhicules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/landing#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/landing#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">
            <i class="bi bi-box-arrow-in-right me-1"></i>Se connecter
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-light btn-sm ms-2" routerLink="/register">
            <i class="bi bi-person-plus me-1"></i>S'inscrire
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
